html {
    font-size: 18px;
    line-height: 1.4;
}

body{
    display: block;
    margin: 0px auto;
    padding: 1rem 0px 0px 0px;
    font-family: Helvetica;
    text-align: center;
    width: 1271px;
}

/* #bannerpic {
    position: absolute;
    top: 0rem;
    left: -10rem;
    height: 31rem;
    width: auto;
} */

#container {
    display: flex;
    width: 960px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

header {
    display: flex;
    width: 100%;
    height: 30rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("../glasses-bg.png");
    background-size: cover;
    background-position: center;
    z-index: 0;
}

#topbar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    color: white;
    background-color: cadetblue;
    padding: 1rem 0rem;
    z-index: 0;
}

#topbar logo {
    display: inline-flex;
    width: 50%;
    align-items: center;
    z-index: 0;
}

#logo img {
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem; 
}

#logo span {
    padding-top: auto;
    padding-bottom: auto;
}

#topbar nav {
    display: inline;
    justify-content: space-around;
}

nav span {
    padding-right: 2rem;
}

#slogan {
    justify-content: flex-end;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    background-color: white;
    padding: 1.5rem 5rem;
    margin-top: 10rem;
    margin-left: 22rem;
    width: 45%;
}

#services {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 3rem 0;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8rem;
    text-align: center; 
}

figure img {
    width: 3.5rem;
    padding: 0rem 0.75rem;
    align-items: flex-start;
}

figure figcaption {
    align-items: flex-end;
}

#info {
    display: flex;
    justify-content: center;
    width: 100%;
}
article {
    width: 35%;
    margin-right: 5%;
}

article h3 {
    background-color: cadetblue;
    color: white;
    width: 10rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
}

article p {
    padding-top: 1rem;
    padding-bottom: 5rem;
    width: 75%;
    /* margin-right: 5%; */
    text-align: left;
}

footer {
    display: inline-flex;
    width: 100%;
    background-color: azure;
    justify-content: flex-start;
    align-items: center;
}

footer img {
    height: 1.5rem;
    padding: 4rem 1rem 4rem 4rem;
}

footer span {
    align-items: center;
}

@media only screen and (max-width: 1080px) {
    header {
        height: 22rem;
    }
    
    #topbar {
        padding: 0rem;
    }

    #slogan {
        font-size: 1.33rem;
        padding: 0.75rem 4rem;
        margin-top: 5rem;
        margin-left: 22rem;
        width: 45%;
    }
}

@media only screen and (max-width: 800) {
    header {
        height: 17rem;
    }
    
    #topbar {
        padding: 0rem;
    }

    #slogan {
        font-size: 1rem;
        text-align: center;
        padding: 1rem 0rem;
        margin-top: 9rem;
        margin-left: 0rem;
        width: 100%;
        background-position: 20%;
    }

    #services {
        flex-direction: column;
        padding: 3.77rem 0;
    }

    figure {
        flex-direction: column;
        margin-top: 1.54rem;
    }
    
    figure figcaption {
        font-size: 0.77rem;
    }
    
    #info {
        flex-direction: column;
    }

    article h3 {
        width: 100%;
        text-align: center;
    }
    
    article p {
        padding-top: 1rem;
        padding-bottom: 4rem;
        width: 100%;
        font-size: 0.77rem;
    }
}